@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    background-color: #040714;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    color: #f9f9f9;
}

body, button, input, select {
    font-family: 'Lato';
}

section {
    display: block;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    width: 100%;
    height: 70px;
    z-index: 2;
    /* background-color: #090b13; */
}

.banner_logo_top {
    width: 80px;
    margin-top: 4px;
    max-height: 70px;
    transition: all .2s ease 0s;
    opacity: 0;
}

.menu_buttons a:first-child {
    opacity: 0;
}

.menu_buttons a:last-child {
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    text-decoration: none;
    transition: all .2s ease 0s;
}

.menu_buttons a:hover {
    background-color: #f9f9f9;
    color: #000;
    border-color: transparent;
    cursor: pointer;
    
}

main {
    display: block;
}

.div_hero {
    display: flex;
    flex-direction: column;
}

.content_hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    width: 100%;
    min-height: 100vh;
}


.data_hero {
    max-width: 632px;
    margin-right: auto;
    margin-left: 0;
    width: 100%;
}

.data_hero img {
    width: 42%;
    max-width: 160px;
    margin-bottom: 20px;
}

.data_hero h1 {
    display: block;
    margin: 0 0 30px;
    font-size: 44px;
    line-height: 1.2;
    font-weight: bold;
    color: #f9f9f9;
}

.data_hero h1 span {
    display: block;
}

.data_hero .logos {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 80px;
    width: 100%;
}

.data_hero .logos img {
    max-width: 600px;
    width: 100%;
}

.section_plans {
    display: flex;
    align-items: stretch;
    margin: 0 -16px 20px;
}

.section_plans .plan_normal,
.section_plans .plan_annual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 360px;
    padding: 0 16px;
}

.section_plans .plan_normal h3,
.section_plans .plan_annual h3 {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 1.2;
}

.section_plans .plan_normal span,
.section_plans .plan_annual span {
    font-weight: 400;
    opacity: 0.7;
    display: inline;
    font-size: 14px;
}

.section_plans .plan_normal p,
.section_plans .plan_annual p {
    margin: 0 0 24px;
    color: hsla(0,0%,75.3%,.8);
    line-height: 1.5;
}

.button_signature {
    display: block;
    letter-spacing: 20px;
}

.button_signature a {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    min-width: auto;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    color: #f9f9f9;
    background-color: #0063e5;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 18px;
    padding: 16.5px 14px;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    transition: all .2s ease 0s;
}

.button_signature a:hover {
    background-color: #0483ee;
    text-decoration: none;
}

.offer {
    color: hsla(0,0%,75.3%,.8);
    font-size: 11px;
    margin: 0 0 24px;
    line-height: 1.5;
    display: block;
}

.background_hero {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
    height: 200%;
    z-index: -1;
    overflow: hidden;
    background-image: url("../img/bg_large.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 16px;
}

.the_mandalorian {
    position: relative;
    overflow: hidden;
}

.content_mandalorian {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 80px;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 1;
    box-sizing: initial;
}

.data_mandalorian {
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 50%;
    flex: 0 0 auto;
    z-index: 1;
}

.data_mandalorian h2 {
    display: block;
    margin: 0 0 24px;
    font-size: 42px;
}

.data_mandalorian p {
    color: hsla(0,0%,75.3%,.8);
    font-size: 20px;
    margin: 0 0 24px;
    display: block;
}

.banner_mandalorian {
    flex: 1 1 auto;
    width: auto;
    position: relative;
    z-index: 2;
    display: block;
}

.banner_mandalorian img {
    display: block;
    width: 100%;
}

.original_disney_plus,
.diversao_sem_limites {
    position: relative;
    overflow: hidden;
}

.content_disney_plus,
.content_diversao {
    position: relative;
    padding: 80px;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 1;
    box-sizing: initial;
}

.data_original_disney,
.data_diversao {
    display: block;
    z-index: 1;
    box-sizing: border-box;
    text-align: center;
}

.data_original_disney h2,
.data_diversao h2 {
    font-size: 42px;
    margin: 0 0 24px;
    line-height: 1.2;
    display: block;
}

.data_original_disney p,
.data_diversao p {
    color: hsla(0,0%,75.3%,.8);
    font-size: 20px;
    margin: 0 0 24px;
    line-height: 1.5;
    display: block;
}

.display_movies_series_animations {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
}

.article_disney {
    width: 33.33%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 12px;
    transition: opacity 1s;
}

.article_disney img {
    border-radius: 4px;
    transition: transform 0.4s;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

.rei_leao {
    position: relative;
    overflow: hidden;
}

.content_rei_leao {
    z-index: 1;
    padding: 80px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: initial;
}

.data_rei_leao {
    position: absolute;
    z-index: 3;
    left: 52%;
    transform: translateY(-50%);
    top: 50%;
    width: 40%;
    box-sizing: border-box;
}

.data_rei_leao h2 {
    font-size: 42px;
    line-height: 1.2;
    margin: 0 0 24px;
    display: block;
}

.data_rei_leao p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 24px;
    display: block;
    color: hsla(0,0%,75.3%,.8);
}

.background_rei_leao {
    width: auto;
    position: relative;
    z-index: 2;
    display: block;
    box-sizing: inherit;
}

.background_rei_leao img {
    display: block;
    width: 100%;
}

.multi_devices {
    position: relative;
    overflow: hidden;
}

.content_devices {
    z-index: 1;
    padding: 80px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: initial;
}

.data_device {
    z-index: 1;
    box-sizing: border-box;
}

.data_devices h2 {
    margin: 0 0 24px;
    font-size: 42px;
    line-height: 1.2;
    display: block;
    text-align: center;
}

.display_devices {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
}

.display_devices article {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 12px;
    transition: opcity 1s;
    text-align: center;
}

.display_devices article img {
    transition: transform 0.4s;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

.display_devices article h3 {
    font-size: 22px;
    margin: 0 0 24px;
    margin-top: 24px;
}

.display_devices article p {
    margin-bottom: 4px;
    font-size: 20px;
    color: hsla(0,0%,75.3%,.8);
}

.footer_disney {
    position: relative;
    z-index: 1;
    padding: 26px 8px;
    text-align: center;
}

.content_footer {
    margin: 0 auto;
}

.logo_disney_footer {
    width: 80px;
    margin-bottom: 4px;
    font-size: 0;
    display: inline-block;
}

.logo_disney_footer img {
    display: block;
    width: 100%;
}

.links_footer {
    margin-bottom: 6px;
    font-size: 12px;
}

.links_footer span {
    position: relative;
    display: inline-block;
    opacity: 0.6;
    margin: 0 8px;
}

.links_footer span select {
    padding: 0 26px;
    z-index: 1;
    border: none;
    display: inline-block;
    height: 34px;
    background-color: transparent;
    cursor: pointer;
    color: #f9f9f9;
    text-align: center;
    text-align-last: center;
}

.links_footer span:hover {
    opacity: 1;
}

.links_footer span select:hover {
    text-decoration: underline;
}

.links_footer span select option {
    color: #111;
}

.links_footer a {
    cursor: pointer;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    color: hsla(0,0%,75.3%,.8);
    font-size: 12px;
}

.links_footer a:hover {
    color: #f9f9f9;
}

.copyright {
    font-size: 12px;
    color: hsla(0,0%,75.3%,.8);
    margin: 0 0 24px;
}

.footer_description {
    max-width: 1024px;
    margin: 0 auto 16px;
    font-size: 12px;
    color: hsla(0,0%,75.3%,.8);
}